.chekckout {
   text-align: left;
   justify-content: center;
 
}
.chekckout h2 {
    color: #fff;
}
.chekckout h3 {
    margin-top: 100px;
}
.chekckout .blind {
    margin-top: 100px;
    color: #fff;
}
.chekckout2 {
    margin-bottom: 100px;
}